form {
    background-color: #21343e;
    display: flex;
    align-items: center;
}
.container {
    box-shadow: 0px 4px 15px #000000;
    background-color: #21343d;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container h1 {
    color: #00aaff;

}
.container input {
    padding: 10px;
}
.container button {
    padding: 10px;
    outline: none;
    border: 2px solid #00aaff;
    background-color: transparent;
    color: white;
}
.container button:hover {
    background-color: #00aaff;
    color: black;
}
.container p {
    color: white;
}
.container p a {
    color: white;
    text-decoration: none;
}
.container p a:hover {
    color: #00aaff;
}

